<footer class="page-footer footer-area footer--light" id="contato">
    <div class="footer-big mb-5 mt-5">
        <div class="container text-center" id="con-footer">
            <div class="row">
                <div class="col-md-3">
                    <a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3">
                    <a target="_blank"  href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3">
                    <a target="_blank" href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-3">
                    <a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </div>
        </div>
        </div>
                
    </div>
    <div class=" footer-copyright bg-dark text-center py-3">
    <h5 class="text-center mb-2">Direiros Autorais</h5>
    <h5 class="text-center mb-2">Thiago Barassa</h5>
    <h5 class="text-center mb-2">2021</h5>
    </div>
</footer>
